archive
.archive

# dotenv environment variables file
.env*

# IDE / Editor
.idea

# macOS
.DS_Store

.vscode

/fishingd

/cmd/fishing2firebase/fishing-comp-app-be4564c30c77.json
/cmd/fishing2firebase/data
/cmd/fishing2firebase/fishing2firebase
/cmd/fishingd/fishingd
/cmd/cvsimport/cvsimport


# TODO - once tidy up, we can remove this add source to repo
/cmd/fishing2firebase
/cmd/csvimport
